body {
background-color: #2a2a2a;
margin: 0;
padding: 0;
border: 0;
}

#wrapper {
width: 550px;
margin: 0 auto auto auto;
}

.signin_box_top {
	float: left;
	background: url('images/box_top.png');
	width: 550px;
	height: 40px;
	margin-top: 50px;
}

.signin_box {
	float: left;
	background: url('images/box.png');
	width: 550px;
}

.signin_box ul {
	margin-left: 90px;
	float: left;
}

.signin_box_footer {
	float: left;
	background: url('images/box_footer.png');
	width: 550px;
	height: 40px;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-signin-heading {
  margin-bottom: 10px;
    font: bold 23px tahoma;
  color: #428bca;

}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}